.matches {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.event {
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 8px #0000001a;
    border: 2px solid #b4b4b4;
    background-color: white;
    box-sizing: border-box;
}

.event-title {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
    border: 2px solid gray;
}

table th, table td {
    padding: 3px;
    border: 1px solid #cdcccc;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

table th {
    background:#f0f0f0;
}

.header-match {
    width: 7%;
}
.header-score {
    width: 15%;
}
.header-red, .header-blue {
    width: 39%;
}
.quals-display {
    font-weight: 700;
    font-size: 1.2em;
    margin: 5px;
}
.redScore {
    color: red;
}
.blueScore {
    color: blue;
}
.winnerIndicator {
    margin-left: 10%;
}
.winnerIndicator {
    color: #388e3c;
}
.lossIndicator {
    color: #fb5353;
}
.redTeam {
    background-color: #f97d7d;
}
.blueTeam {
    background-color: #8181fb;
}
.teamShow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}
.team {
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    background: none;
    color: black;
}
.team p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.teamNumber {
    font-size: 20px;
}
.teamName {
    font-size: 14px;
}