.matches {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.event {
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 8px #0000001a;
    border: 2px solid #b4b4b4;
    background-color: white;
    box-sizing: border-box;
}

.event-title {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
    border: 2px solid gray;
}

table th, table td {
    padding: 3px;
    border: 1px solid #cdcccc;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.header-row {
    border-color: inherit;
}


.header-match {
    width: 7%;
}
.header-score {
    width: 15%;
}
.header-red, .header-blue {
    width: 39%;
}

.quals-display {
    font-weight: bold;
}