.matches {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event {
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 8px #0000001a;
    border: 2px solid #b4b4b4;
    background-color: white;
    box-sizing: border-box;
}

.event-title {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
}