.about-screen {
  width: 100%;
  min-height: 90vh;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh; /* space for fixed header */
  box-sizing: border-box;
  color: black;
  background-color: white;
}
body {
    background-color: white;
}
.about-box {
    background: #fff;
    padding: 36px 32px 28px 32px;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    min-width: 320px;
    position: relative;
    text-align: left;
}

.about-title {
    text-align: center;
}

.about-box p {
    margin: 0;
}