.header {
    width: 100vw;
    height: 10vh;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    background-color: rgb(223, 223, 24);
    left: 0;
    z-index: 500;
    color: black;
}
.display {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1%;
    width: 30%;
    height: 100%;
}
.big-img {
    height: 100%;
    margin-left: 10px;
    width: auto;
}
.big-text {
    font-size: 5vh;
    margin-right: 20px;
    font-weight: 500;
    color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.home-btn {
    background-color: rgb(255, 255, 46);
    min-width: 150px;
    color: black;
}