.loading-screen {
    background-color: rgb(220, 220, 220);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    top: 0;
    left: 0;
    font-size: 75px;
    color: black;
}

.loading-screen * {
    margin: 0;
}