.match-predict {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.predict-title {
    margin: 0;
    background: linear-gradient(to left, rgb(255, 24, 24), rgb(2, 2, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

hr {
    width: 50%;
    background: linear-gradient(to left, rgb(255, 24, 24), rgb(2, 2, 255));
    border: 0;
    height: 2px;
    margin-bottom: 20px;
}

.sides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.side {
    display: flex;
    text-align: left;
    flex-direction: column
}