.selected-team {
    border: 1px solid #afafaf;
    border-radius: 6px;
    font-size: 1.1em;
    padding: 8px 12px;
    background: none;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-team button {
    margin-left: 5px;
    background-color: rgba(196, 88, 88, 0.753);
    padding: 0;
    width: 35%;
    border-radius: 2px;
}

.input-container {
    margin-bottom: 10px;
}
.selected-team {
    padding: 8px 12px;
    font-size: 1.1em;
    width: 180px;
}